body {
  font-family: Arial, serif;
}

#Header, #Footer {
  text-align: center;
  background-color: lightblue;
  font-size: 24px;
  text-transform: uppercase;
  padding: 6px;
  color: blue;
}

#Menu {
  flex: 200px 0 0;
  background-color: khaki;
  font-size: 18px;
  padding: 0px 20px;
}

#Content {
  flex: 0px 1 0;
  font-size: 18px;
  padding: 6px 20px 0px 20px;
}

img {
  width: 300px;
  float: left;
  padding: 0px 20px 20px 0px;
}

#Menu li {
  margin-bottom: 5px;
  white-space: nowrap;
}

#Content p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 6px 6px 12px 6px;
}

#Content p:nth-child(n+2) {
  margin-top: -4px;
}

@media all and (max-width: 780px) {
  
  #Header, #Footer {
    display: none;
  }
  
  #MenuAndContent {
    flex-direction: column;
  }
  
  #Menu {
    order: 2;
    background-color: white;
  }
  
  #Content {
    order: 1;
  }
  
  img {
    width: 100% !important;
  }
  
  #Menu li {
    display: inline;
  }
  
  #Menu li::after {
    white-space: pre;
    content: "     ";
  }
  
}